body{
	/*background: #fff url('header-bg.gif') top left repeat-x;	*/
	/*background: #fff url('winter.jpg') top left no-repeat;*/
	
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* background: #fff url('/img/bar2.jpg') top center no-repeat; */
}

#main{	
	text-align: left;
	margin: 0 auto;
	width: 875px;
	overflow-x: hidden;
}

#content{

	width: 550px;
	padding: 10px 30px 20px 30px;
	margin-top: 20px;
	border-right: 1px solid #eee;		
	float: left;
}
	
#sidebar{
	width: 200px;
	margin-top: 20px;
	padding: 10px 30px 20px 30px;
	float: left;

	
}

#nav{ 
	position: relative;
	top: 0px;	
	width: 100%;
	height: 46px;
	padding:0;
	margin:0;
	

}



#navlist{}

.logo{ 
	
	color: #fff;
		font: bold 30px Trebuchet MS, Arial, sans-serif;
		text-transform: uppercase;
		width: 300px;
		position: relative;
		bottom: 8px;
		
}

#navlist li{
	list-style: none;
	float: left;
	padding: 0; 
	margin: 0;

	}
	
#navlist li a{background: url('/img/on.png') top left repeat;}	
#navlist li a:hover, #navlist li.selected a{background: url('/img/off.png') top left repeat; color: white;}	
	

#navlist li a{ 
		border-right: 1px solid black;
		color: #999;
		font: bold 14px Trebuchet MS, Arial, sans-serif;
		padding: 16px 30px 12px 30px;
		text-decoration: none;

		/*letter-spacing: 1px;*/
		/*margin-left: 1px;*/
	}

	#navlist li a.last{ border:0;}

	


	
	#content p, #sidebar p, #content li{
		font-family: Georgia, serif;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		text-transform: normal;
		letter-spacing: normal;
		line-height: 1.45em;
		color: #666;		
		}
		
	#content p.sub{
		font-family: Georgia, serif;
		font-size: 20px;
		font-style: italic;
		font-weight: normal;
		text-transform: normal;
		letter-spacing: normal;
		line-height: 1.4em;
		color: #444;
		}
		
		#content p.sub:first-letter {font-size: 70px; font-weight: thin; float: left; padding: 7px 15px 0px 0px;}
		#content p.sub.yellow:first-letter{color:#F7BC0E;}
		#content p.sub.blue:first-letter{color: #00389B;}
		#content p.sub.green:first-letter{color: #65BC00;}
		#content p.sub.red:first-letter{color: #E20000;}
		
		
		
	#content h1{
		
		font-family: Georgia, serif;
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
		text-transform: normal;
		letter-spacing: normal;
		line-height: 1.2em;
		color: #000;
		}

		h2{
		font-family: Georgia, serif;
		font-size: 20px;
		font-style: italic;
		font-weight: normal;
		text-transform: normal;
		letter-spacing: normal;
		line-height: 1.4em;
		color: #444;
		}
		
		h3{
		font-family: arial, sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: normal;
		line-height: 1.2em;
		color: #000;			
		}
		h4{
		font-family: Georgia, serif;
		font-size: 13px;
		font-style: italic;
		font-weight: normal;
		text-transform: normal;
		letter-spacing: normal;
		line-height: 1em;
		color: #444;
			
		}
		
	#content a, #sidebar a{
			text-decoration: none;
			/*background-color: #eee;*/
			border-bottom: 1px solid #0f8ea7;
			color: #000;
		}
	
	#content a:hover, #sidebar a:hover{
			background-color: #e6f8ff;
		
			
		}
		
		.permalink{ font-size: 12px; float: right;}
		
hr{
	border: 1px solid #eee;
}


pre {
  font-family:     "Courier New"
                    Courier
                    monospace;
}
	
	
			    #navbar{
			    height: 46px;
			    width: 100%;
			    display: block;
			    position: absolute;
			    top: 0; left: 0;
			   
			    
		    }
		    
		    
#nav{ 
	position: relative;
	top: 0px;	
	width: 100%;
	height: 46px;
	padding:0;
	margin:0;
	

}


#navlist{}

#navlist li{
	list-style: none;
	float: left;
	padding: 0; 
	margin: 0;

	}
	
#navlist li a{background: url('/img/on.png') top left repeat;}	
#navlist li a:hover, #navlist li.selected a{background: url('/img/off.png') top left repeat; color: white;}	
	

#navlist li a{ 
		border-right: 1px solid black;
		color: #999;
		font: bold 14px Trebuchet MS, Arial, sans-serif;
		position: relative;
		bottom: 2px;
		padding: 12px 30px 14px 30px;
		text-decoration: none;
		/*letter-spacing: 1px;*/
		/*margin-left: 1px;*/
	}

	#navlist li a.last{ border:0;}
